body{
    background-color: black;

}

.fuente-general{
    font-family: Arial, Helvetica, sans-serif;
}

.p-s{padding: 4px;}
.p-m{padding: 8px;}
.p-l{padding: 16px;}
.p-xl{padding: 32px;}

.tamanio-titulo{
    font-size: 25px;
}

.fuente-negrilla{
    font-weight: bold;
}

.contenido-centrado{
    text-align: center;
}


.separacion-vertical-m{
    margin: 16px 0px;
}

.separacion-vertical-l{
    margin: 32px 0px;
}

.imagen-features{
    width: 250px;
    height: 150px;
      
}

.caja{
    
    width: 250px;
    
}

.borde-circular{
    border-radius: 10px;
}

.padding-lateral-m{
    padding: 0px 16px;
}

.caja-general{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-read-more{
    color: #4d114d;;
    text-align: right;
    font-weight: 550;
}


.contenedor-principal{
    max-width: 1425px;   
    margin: 0 auto;    
    background-color: white; 
    min-height: 100vh;  
}

.p-left{
    text-align: left;
}